<!DOCTYPE html>
<html>
<head>
	<title>Python Journal</title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<!-- Content goes here -->
    <h1>Michelle's Python Journal</h1>
    <div>
        {% for entry in entries %}
            <h2><a href="{% url 'journal:entry_detail' pk=entry.pk %}">{{ entry.title }}</a></h2>
            <h5>By {{ entry.author }} on {{ entry.published_date }}</h5>
            <p>{{ entry.text | linebreaks }}</p>
        {% endfor %}
    </div>
</body>
</html>